.top_image {
  background: url("../image/artificial-photography-vB5qtt8X4NA-unsplash.jpg");
  background-blend-mode: lighten;
  background-position: 50% 0%;
}

.logo {
  font-size: 3.6rem !important;
}

.hero-text-block {
  background: white;
  width: 60%;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.hero-header {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(250, 255, 255, 0.8)
  );
}

.hero-body {
  width: 45%;
}

.red {
  background-color: #e9546b !important;
}

.red-font {
  color: #e9546b !important;
  margin: 2rem;
}

.since {
  display: inline-block;
}

#sogyo {
  color: #e9546b !important;
  margin: 0.5rem;
  font-size: 3.2rem;
}

.columns {
  margin-bottom: 3rem;
}

.photo-right {
  font-size: 0.8rem;
}

.gmap-iframe {
  height: 400px;
}

#access,
#hours {
  padding: 3rem 0;
}

.top-image-sp {
  display: none !important;
}

@media screen and (max-width: 39.9375em) {
  .since {
    display: block;
  }
  .hero-body {
    width: 100%;
  }
}
