.top_image {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.8)
    ),
    url("../image/artificial-photography-vB5qtt8X4NA-unsplash.jpg");
  background-blend-mode: lighten;
  background-position: 10% 30%;
}
.logo {
  font-size: 3.6rem !important;
}

.hero-header {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(250, 255, 255, 0.8)
  );
}

.red {
  background-color: #e9546b !important;
}

.red-font {
  color: #e9546b !important;
  margin: 2rem;
}

#sogyo {
  color: #e9546b !important;
  margin: 0.5rem;
  font-size: 3.2rem;
}

.columns {
  margin-bottom: 3rem;
}

.photo-right {
  font-size: 0.8rem;
}

.gmap-iframe {
  height: 400px;
}

#access,
#hours {
  padding: 5rem 0;
}
